.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background: var(--primary-color);
}

.footer_text {
  margin-top: 3rem;
  line-height: 30px;
  color: #fff;
}

.logo {
  color: #ffffff;
}

.footer_quick-links ul li {
  background: transparent !important;
  a {
    color: rgba(255, 255, 255, 0.735);
  }
}

.quick_links-title{
  margin-bottom: 20px;
  color: #fff;
  font-size: 1.1rem;
}

.footer_contact li {
  span{
    color: #ffffffbb;
    font-size: 1.2rem;
  }
  
  p{
    color: #ffffffbb;
    font-size: 0.9rem;
  }

}

.footer_copyright{
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 50px;
}
/* CTA Section */
.cta_section {
  background-color: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.cta_section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff; /* Set the text color to white */
}

.cta_section p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
